<div class="home-container">
  <div class="settings">
    <a routerLink="/settings">Settings</a>
  </div>
  <div class="listings">
    <div class="tracked">
      <div class="title">Tracked</div>
      <ul class="list">
        <li
          class="file"
          *ngFor="let file of getvcService().tracked"
          (click)="onTrackedClick(file)"
        >
          {{ file.fileName }}
        </li>
      </ul>
    </div>

    <div class="actions">
      <div class="title">Actions</div>
      <ul class="list">
        <li *ngFor="let action of getvcService().actions">
          {{ action.fileName }} [{{ action.action }}]
        </li>
      </ul>
      <div class="buttons">
        <div class="refresh">
          <div (click)="onDiff()">Manual Refresh</div>
        </div>
        <div class="sync">
          <div (click)="onFullService()">Manual Sync</div>
        </div>
      </div>
    </div>

    <div class="untracked">
      <div class="title">Untracked</div>
      <div class="list">
        <div
          class="file"
          *ngFor="let file of getvcService().untracked"
          (click)="this.onUntrackedClick(file)"
        >
          {{ file.fileName }}
        </div>
        <div class="reason">
          <div *ngFor="let file of getvcService().untracked">
            {{ file.fileName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
