<div class="home-container">
  <div class="header">
    <div class="logout" (click)="onLogOut()">Log Out</div>
  </div>
  <div class="listings">
    <div class="tracked">
      <div class="title">Tracked</div>
      <div class="list">
        <div
          class="file"
          *ngFor="let file of getvcService().tracked"
          (click)="onTrackedClick(file)"
        >
          {{ file.fileName }}
        </div>
      </div>
    </div>

    <div class="actions">
      <div class="title">Actions</div>
      <div class="list">
        <div class="action" *ngFor="let action of getvcService().actions">
          {{ action.fileName }} [{{ action.action }}]
        </div>
      </div>
      <div class="buttons">
        <div class="refresh">
          <div (click)="onDiff()">Manual Refresh</div>
        </div>
        <div class="sync">
          <div (click)="onFullService()">Manual Sync</div>
        </div>
        <a class="settings" routerLink="/settings">Settings</a>
      </div>
    </div>

    <div class="untracked">
      <div class="title">Untracked</div>
      <div class="list">
        <div
          class="file"
          *ngFor="let file of getvcService().untracked"
          (click)="this.onUntrackedClick(file)"
        >
          {{ file.fileName }}
        </div>
      </div>
    </div>
  </div>
</div>
