<div class="home-container">
    <h2>Welcome, {{ username }}!</h2>
    <div class="logout" (click)="onLogOut()">
      Log Out
    </div>
    <a routerLink="/settings">Go to settings</a>
<div (click)="onDiff()">Get Differences</div>

==========Local Files==============
<ul>
  <li *ngFor="let file of getvcService().localFiles">{{ file.fileName }}  {{ file.lastModified }}</li>
</ul>

==========Remote Files=============
<ul>
  <li *ngFor="let file of getvcService().remoteFiles">{{ file.fileName }} [{{ file.lastModified }}]</li>
</ul>
==========Actions=============

<ul>
  <li *ngFor="let action of getvcService().actions">{{ action.fileName }} [{{ action.action }}]</li>
</ul>
========================

<div (click)="onSync()">Sync Diff</div>

<div (click)="onFullService()">Full Service</div>