<div>{{ selected }}</div>
<div *ngIf="selected == 'General'">General Settings Here</div>
<div *ngIf="selected == 'Appearance'">Appearance Settings Here</div>
<div *ngIf="selected == 'File System'">
  <form (ngSubmit)="onDirectorySetting()">
    <div class="form-group">
      <label for="directory">Directory:</label>
      <input
        placeholder="{{ this.directory }}"
        type="text"
        id="email"
        name="directory"
        [(ngModel)]="this.directory"
      />
    </div>
    <button type="submit">Submit</button>
  </form>
  <form (ngSubmit)="onCronSetting()">
    <div class="form-group">
      <label for="cron">Timed scan in minutes:</label>
      <input
        placeholder="{{ this.cron }}"
        type="text"
        id="cron"
        name="cron"
        [(ngModel)]="this.cron"
      />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
<div *ngIf="selected == 'About'">About Settings Here</div>
